---
---

@import "{{ site.theme }}";

/* other css */

#header_wrap {
  background: linear-gradient(45deg, #306, #000, #203);
}

#footer_wrap {
  background: linear-gradient(-45deg, #306, #000, #003);
}