.VPNavBarTitle .logo {
  background: transparent !important;
  height: 40px;
  position: relative;
  left: -7px;
}

.VPSidebarItem.level-0:not(.is-link) > .item > .text {
  margin-bottom: 2px;
  padding: 0;
  line-height: 32px;
  font-size: 14px;
  font-weight: 600;
}

.VPDocAsideOutline .VPDocOutlineItem.nested {
  padding-left: 0;
  padding-right: 0;
}

.VPDocAsideOutline .outline-title {
  margin-bottom: 2px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 600;
}

.VPLocalNavOutlineDropdown .VPDocOutlineItem.nested {
  padding-left: 0;
  padding-right: 0;
}

.VPDocAsideOutline .outline-link {
  padding-left: 0 !important;
}

.VPLocalNavOutlineDropdown .outline {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.VPLocalNavOutlineDropdown .outline-link {
  padding-left: 0 !important;
}
